.carosello {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Immagini {
    display: flex;
    overflow: hidden;
    width: 200px;
}

.Immagini img {
    max-width: 100%;
    display: block;
  
}

#Img-Prec ,
#Img-Pros {
    margin: 10px;
    padding: 8px 16px;
}