body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Timer {
    text-align: center;
}

button {
    margin: 5px;
    padding: 8px 16px;
    font-size: 16px;
}
